/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*my code*/

*
{
text-decoration: none;
}
body
{

}
header
{
background-color: #fff;
width:100%;
height: 100px;
}
.title
{
  font-family:sans-serif;
  font-size: 24px;
  font-weight:600;
  color: #111;
  display:block;
  margin:0 auto;
  text-align:center;
  padding: 20px 0;
}
header nav ul
{
 display:block;
 margin:0 auto;
 width: fit-content;
}
header nav ul li
{
  display:inline-block;
  float: left;
  list-style: none;
  padding:0 16px;
}
header nav ul li a
{
  font-family:sans-serif;
  font-size: 16px;
  color: #111;
  text-transform: uppercase;
}
header .header-cases
{
  display:none;
}
@media only screen and (min-width: 1000px)
{
  .title
  {
    margin:31px 0 ;
    text-align: left;
    line-height: 38px;
    padding: 0px 20px 0px 40px;
    border-right: 3px  solid #111;
    float: left;
  }
  header nav ul
  {
   margin:20px 0px 0px 20px;
   float: left;
  }
  header nav ul li a
  {
    line-height: 60px;
  }
  header .header-cases
  {
    display:block;
    font-family: sans-serif;
    font-size:16px;
    text-transform: uppercase;
    line-height: 38px;
    border: 1px solid #111;
    float: right;
    margin-right: 40px;
    margin-top: 30px;
    padding: 0 20px
  }
}
/*INDEX*/
.index-banner
{
  width:100%;
  height:calc(100vh - 100px);
  background-image: url('img/1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:auto;
  display: table;
}
.vertical-center
{
  display: table-cell;
  vertical-align: middle;
}
.index-banner h2
{
  font-family:sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
}
.index-links div
{
  margin: 50px 30px 0;
  width: 80%;
  align-items: center;
}
p
{
font-family:sans-serif;
font-size: 18px;
font-weight:100;
color:grey;
display:block;
margin:0 auto;
}
@media only screen and (min-width: 1000px)
{
  .wrapper
  {
    width: 1000px;
    margin: 0 auto;
    background-color: #68300c;
  }
  .index-banner
  {
    width:100%;
    height:500px;
    background-image: url('img/1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto ;
    display: table;
  }
  .index-links div
  {
    padding-bottom: 20px;
    overflow: hidden;
  }
  .index-links div
  {
    margin: 10px 50px 0;
    align-items: center;
    float: left;
  }
  .index-boxlink-square
  {
    width: 40% !important;
  }
}
/*footer*/
.footer
{
width: calc(100% - 80px);
padding: 40px 40px;
margin-top: 20px;
background-color:#6e2e00;
overflow: hidden;
}
.footer ul
{
width: fit-content;
float: left;
padding-left: 20px;
}
.footer ul li
{
 display: block;
 list-style: none;
 line-height: 30px;
}
.footer-a
{
font-family: sans-serif;
font-size: 20px;
color: #fff;
line-height: 30px;
}
.footer-sm
{
  width: 50px;
  float: right;
}
.footer-sm img
{
  width: 100%;
  margin-bottom: 10px;
}
.copyright
{
  text-align: center;
  margin-top:100px;
  color: black;
}
.dropbtn {
  background-color:#transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position:absolute;
  display: inline-block;

  margin-top:10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#816200;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin: auto;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color:#6e2e00;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color:#6e2e00;}
form.example input[type=text]
{
  padding: 10px;
  font-size: 17px;
  border: 2px solid #6e2e00;
  float: left;
  width:20%;
  background:transparent;
  border-radius: 25px;
}
form.example button {
  float: left;
  width:5%;
  padding: 10px;
  background: transparent;
  color: white;
  font-size: 17px;
  border: 4px solid #6e2e00;
  border-left: none;
  cursor:pointer;
  border-radius: 25px;
}

form.example button:hover {
  background:#6e2e00;
}
form.example::after {
  content:"";
  clear:both;
  display:table;
}
